.App{
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 32px;
  
  font-style: normal;
  
}

*::selection {
    background-color:aqua; /* Blue background color when selected */
    color: #000; /* Black text color when selected */
  }
*{
    background-color: #212121;
    font-family: "Pixelify Sans", sans-serif;
}

.navs{
    display: flex;
    list-style: none;
    padding-right: 35px;
}

.logo{
    padding-left: 5px;
}

.logo_bottom{
    color: #a09cfc;
}

.logo_up{
    color: white;
}
.Header{
    display: flex;
    justify-content: space-between;
}

.nav{
    padding: 5px;
    font-size: 19px;
    padding-right: 30px;
    color: #E6DB74;
    
}

.nav:hover{
    color: #a09cfc;

}



/* Body */
.body{
        justify-content: center;
      text-align: center;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: auto;
      
    
}

.nun{
    color: white;
}

.text_clipping{
    display: flex;
    font-size: 3vw;
}

.text-clip2{

  margin-left: 50px;
  border-style: solid;
    border-width: 1px 0 0 ;
    border-right: 1px solid rgba(255,255,255,0.12);;
    border-color: rgba(255,255,255,0.12);;
    position: relative;
  display: flex;
  flex-direction: row;
  font-size: 3vw;
}
.text-clip3{

  margin-left: 50px;
  border-style: solid;
    border-width: 1px 0 0 ;
    border-right: 1px solid rgba(255,255,255,0.12);;
    border-color: rgba(255,255,255,0.12);;
    position: relative;
  display: flex;
  flex-direction: row;
  font-size: 3vw;
}


.text-clip2:hover{
  background-color: #E6DB74;


}

.textclip1 {
  color:#a09cfc;
  overflow: hidden;
  border-right: 0.1em solid black; /* Add a border for the cursor effect */
  white-space: nowrap;
  animation: typing 5s steps(50) infinite, blink-caret 1s infinite;
}

.textclip2 {
  color:#2fcbef;
  overflow: hidden;
  border-right: 0.1em solid black; /* Add a border for the cursor effect */
  white-space: nowrap;
  animation: typing 5s steps(50) infinite, blink-caret 1s infinite;
}

.textclip1:hover {
 background-color: #E6DB74;}
 .textclip2:hover {
  background-color: #E6DB74;}
  
.textclip {
    color: #E6DB74;
    overflow: hidden;
    border-right: 0.1em solid black; /* Add a border for the cursor effect */
    white-space: nowrap;
    animation: typing 5s steps(50) infinite, blink-caret 1s infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    50% { border-color: transparent; }
  }

  .curlybraces{
    color: white;
  }

  .arrow{
    margin-top: -40px;
    font-size: 20px;
  }
  .arrowhead{
    margin-top: -50px;
    font-size: 50px;
  }

  .bg-img{
    height: 400px;
    width: 1500px; 
    padding-bottom: 100px;

    padding-right: 50%;
    position: relative;
  }


  /* about  */

.text_curly{
    text-align: center;
   color: #a09cfc;
   padding-bottom: 20px;
}

.text_about{
    margin-top: -30px;
    text-align: center;
     color: white;
    font-size: 80px;
    padding-top: -40px;
}

.about_me_{
    margin-top: -30px;
    width: 800px;
    padding-left: 24%;
    color: #E6DB74;
}

.about_exp{
    display: flex;
}

.p1{
    border-style: solid;
    border-width: 1px 0 0 ;
    border-right: 1px solid rgba(255,255,255,0.12);;
    border-color: rgba(255,255,255,0.12);;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 25px;
    text-align:left;
    padding-left: 50px;
    font-size: 30px;
    color: white;
}

.p2{
    color: #E6DB74;
   padding: 25px;
   position: relative;
   width: 100%;
   flex-wrap: wrap;
   align-content: flex-start;
   border-style: solid;
    border-width: 1px 0 0 ;
    border-color: rgba(255,255,255,0.12);;
}

.button{
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    color: white;
    background-color: #2fcbef;
    border-color: #2fcbef;
    box-shadow: none;
    display: inline-block;
    text-align: center;
   
    justify-content: center;
    align-items: center;
    
}

.button-bap{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Portfolio */

.text_curl{
    text-align: center;
   color: #a09cfc;
   padding-bottom: 20px;
   padding-top:100px;
}

.portfolio{
    display: flex;
    border-style: solid;
    border-width: 1px 0 0 ;
    border-bottom: 1px solid rgba(255,255,255,0.12);;
    border-color: rgba(255,255,255,0.12);;
    position: relative;
    margin-bottom: 20px;
}

.image-container{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 20px;
    
}

.image{
    height: 300px;
    width: 510px;
    padding: 4px;
    transition: transform 0.3s ease-in-out;
}

.image2{
    margin-top: -100px;
    margin-left: 300px;
    height: 300px;
    width: 510px;
    transition: transform 0.3s ease-in-out;
    padding: 4px;
}
.image3{
    transition: transform 0.3s ease-in-out;
    margin-top: -100px;
    height: 300px;
    width: 510px;
    padding: 4px;
}

.image:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }

  .image2:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }

  .image3:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
  }

  .img-data{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    color: #fc8019;
    font-size: 40px;
  }
  .img-data2{
    font-size: 15px;
    text-align: center;
    padding-top: -60px;
    padding-left: 30px;
    color:#a09cfc;

  }

  .img-data3{
    font-size: 20px;
    color: #E6DB74;
    text-align: left;
    margin-left: 20px;

  }

  .img{
    margin-top: 50px;
  }


  .image-container2{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 20px;
    
    
}

.img-data1{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    color:  #E50914 ;
    font-size: 40px;
  }

.img2{
    margin-top: 50px;
    flex: 1;
    margin-right: 20px;
  }

  .portfolio2{
    margin-top: 20px;
    display: flex;
    border-style: solid;
    border-width: 1px 0 0 ;
    border-bottom: 1px solid rgba(255,255,255,0.12);;
    border-color: rgba(255,255,255,0.12);;
    position: relative;
}

/* Services */

.services{
  margin-top: 60px;
  border-style: solid;
    border-width: 1px 0 0 ;
    border-bottom: 1px solid rgba(255,255,255,0.12);;
    border-color: rgba(255,255,255,0.12);
    position: relative;
}

/* Contact */
.container{
  align-items: center;
  margin-left: 30px;
  width: 1200px;
  margin-left: 100px;
  
  
}

.input{
  align-items: center;
}

.contact-right{
  flex-basis: 60%;
  align-items: center;
}


.btn.btn2{
  display: inline-block;
  background: aqua;
}

.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;

  outline: none;
  
  padding: 15px;
  margin: 15px 0;
  color: #E6DB74;
  font-size: 18px;
  
}

.input::placeholder{
  color: #a09cfc;
}


.bottom{
  color: black;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  padding: #262626;
  font-weight: 300;
  margin-top: 20px;
}

.bottom i{
  color: #ff004f;
}